* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
    
body {
	height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
	color: #000000;
	background-color: #000000;
	height: 100%;
	justify-content: center;
	align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

span {
    font-size: 20px;
}

nav{
    background-color: rgb(252, 238, 119);
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

p {
    margin: 10px;
    color: #000000;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}

li{
    padding: 0 20px;
}

ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
}

button {
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 45px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

a:hover,
button:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.2);
}

.content {
    background-color: #606060;
    width: 100%;
    height: 100vh;
}

@media (max-width: 700px) {

    nav,
    ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 20px;
    }

    button {
        display: flex;
    }

    li,
    ul {
        width: 100%;
    }

    ul.responsivo {
        height: 260px;
    }
}

section.topo-do-site {
    padding: 60px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-logo{
    margin-left: 100px;
    margin-top: 10px;
    height: 100px;
}

.topo-do-site{
    background-color: #109b04;
}

.topo-do-site h1 {
    color: #ffffff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site  h1 span {
    color: blueviolet;
}

.topo-do-site  p {
    color: #ffffff;
    font-size: 20px;
    margin: 40px 0;
}

.topo-do-site  img {
   width: 420px;
   height: auto;
   position: relative;
   animation: rotate 25s linear infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
 }


@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }
 /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }
       
}


.mains {
    background-color: #ff0000;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     
}
  
.containers {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }
  
.card-produto {
    background-color:white;
    flex: 1 1 300px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 1px gray;
  }
  
  
.container-imagem img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  
.container-info {
    padding: 0px 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
.container-info h3 {
    font-size: 18px;
  }
  
.container-preco {
    padding: 10px;
    border-top: 1px solid #c9c4c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.container-icone {
    padding: 5px;
    border: 1px solid #c9c4c4;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  
  /* Estilos para quadrados de bebidas */
.containerz {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
  }
 
.card-produto.bebida {
    background-color: #f3f3f3; 
    color: #000000; 
    
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.Pizzas h2 {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: #fced1d;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
    border-radius: 45%;
}


.bebidas h2 {
    color: #000000; 
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
}


.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #000000;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #000000;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

/* ESTILO DO RODAPÉ */

.container-rodape {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: #109b04;
}

.container-ls {
    width: 100px;
}

.container-ls img {
    width: 100%;
    height: 100%;
}
.container-contato {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.container-contato div {
    padding: 10px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    flex: 1 1 240px;
    text-align: center;
  }
  
.container-descricao {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
.container-descricao a {
    width: 40px;
    height: 40px;
    background-image: url("./img/seta-para-cima.png");
    background-position: center;
    background-size: cover;
    background-color: #dddddd;
    border-radius: 4px;
    position: absolute;
    bottom: 60px;
    right: 0px;
  }
  
.container-rodape p{
    color: #ffffff;
}

.container-redes-sociais img {
    width: 30px;
    margin-right: 5px;
  }
  